.nav-item{
    font-family: "Sofia Sans", sans-serif;
    font-weight: 400;
    font-size: large;
}

.navbar-brand{
    font-family: "Sofia Sans", sans-serif;
    font-weight: 600;
}

.gradien-img-b, .gradien-img-u{
    position: absolute;
    left: 10;
    width: 100%;
    height: 100px;
}

.gradien-img-b{
    bottom: 0;
    background: linear-gradient(to top, white, transparent);
}

.gradien-img-u{
    top: 0;
    background: linear-gradient(to bottom, white, transparent);
    }

.little_texts{
    font-family: "Wix Madefor Text", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.texts{
    font-family:  "Tiny5", sans-serif;
    font-weight: 600;
    font-size: 28px;
    text-align: center;
}

.name_facts{
    font-family: "Wix Madefor Text", sans-serif;
    font-weight: 600;
    font-size: 50px;
    text-align: center;
}

  .container-fluid .row {
    position: relative;
    text-align: center;
  }

  .image-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* ”станавливает отступ между изображени€ми */
  }

  section#video_with_button{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
  }

  section#video_with_button video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  section#video_with_button .headline{
    z-index: 2;
    padding: 0 2rem;
  }

  section#video_with_button .headline h1{
    font-family:  "Tiny5", sans-serif;
    font-size: 5rem;
    color: white;
    margin: 1rem 0;
  }

  section#video_with_button .headline button{
    display: inline-block;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  section#video_with_button .headline button:hover{
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }

  section#video_with_button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,
        rgba(0, 0, 0, 0.4),
        white)
  }

.telegram{
    border-color: rgb(16, 125, 209); 
    background-color: rgb(0, 145, 255)
}

.telegram:hover{
    border-color: rgb(16, 125, 209); 
    background-color: rgb(16, 125, 209)
}

.instagram{
    border-color: #ed00c0; 
    background-color: #FF1B90;
}

.instagram:hover{
    border-color: #ed00c0; 
    background-color:#ed00c0; 
}

a {
    text-decoration: none;
}